  :root {
    --carousel-control-size: 5vmax;
    --carousel-control-icon-size: 3.5vmax;
    --title-size: 5vmax;
    --subtitle-size: 2vmax;
  }

  .title {
    font-size: var(--title-size);
    line-height: var(--title-size);
  }

  .subtitle, a.btn {
    font-size: var(--subtitle-size);
  }

  .carousel-control-prev, .carousel-control-next {
    width: var(--carousel-control-size);
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: var(--carousel-control-icon-size);
    height: var(--carousel-control-icon-size);
  }
  
  div.text-container {
    position: absolute;
    background: rgba(0,0,0,.5);
    text-align: center;
    border-radius: 10px;
    /* Vertical centring */
    top: 50%; transform: translateY(-50%);
    /* Left and right margin equals to carousel-control-prev */
    left: calc(var(--carousel-control-size) + 10px); right: calc(var(--carousel-control-size) + 10px);
  }